// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.7\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "false",
  "shape": "Square",
  "position": "TopRight",
  "showDayNight": "true",
  "info1Label": "Blank",
  "info2Label": "Blank",
  "info3Label": "Blank",
  "info4Label": "Blank",
  "sizePercent": "1",
  "frameAlpha": "0",
  "terrainAlpha": "0",
  "orientation": "North",
  "compassFontScale": "1",
  "showCompass": "false",
  "showReticle": "false",
  "reticleOrientation": "PlayerHeading",
  "active": false,
  "playerDisplay": "LargeIcons",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallIcons",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "1",
  "showWaypointLabels": "false",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.1"
}